.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain; /* i.e. maintain aspect ratio of the image */
    margin: 0 20px; /* top&bottom left&right */
    /* margin-top: 2px; */
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 24px;

}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #f5a442;

}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: white;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: white;
}

